<div class="logo-container">
    <div class="intro-logo">
        <object class="intro-corners left-corner" data="assets/images/intro-logo-left-corner.svg"
                type="image/svg+xml"></object>
        <object class="intro-letters letter" data="assets/images/intro-logo-letter-m.svg" type="image/svg+xml"></object>
        <object class="intro-letters" data="assets/images/intro-logo-letter-d.svg" type="image/svg+xml"></object>
        <object class="intro-corners right-corner" data="assets/images/intro-logo-right-corner.svg"
                type="image/svg+xml"></object>
    </div>
</div>
<canvas id="background-lines"></canvas>
